@use 'sass:map';

///////////////////////////////////
// Boostrap improvements //////////
///////////////////////////////////

.navbar-brand img {
  max-height: $line-height-base + 1.2 * $spacer;
}

.navbar-nav {
  .nav-item {
    padding: 0;

    & > a {
      padding: $spacer * 0.75 $spacer * 0.75 !important;
      color: $body-color-dark;

      &:hover,
      &:focus,
      &.active,
      &:has(a[aria-expanded='true']) {
        background-color: shade-color($primary, $btn-hover-bg-shade-amount);
      }
    }
  }
}

.form-label {
  margin-bottom: 0 !important;
}

.col-form-label {
  padding-bottom: ($spacer * 0) !important;
  padding-top: ($spacer * 0) !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  margin-top: ($spacer * 0) !important;
}

label.form-label.required:not(.remove-required)::after,
legend.col-form-label.required:not(.remove-required)::after {
  content: ' *';
  color: $primary !important;
}

.icon-link-right {
  --bs-icon-link-transform: translateX(0.2rem);
}

.icon-link-left {
  --bs-icon-link-transform: translateX(-0.2rem);
}

input[disabled] {
  cursor: not-allowed;
}

.btn-outline-light {
  --bs-btn-active-bg: #{rgba($gray-500, 0.4)};
  --bs-btn-hover-bg: #{rgba($gray-500, 0.4)};
}

:not(.modal) .popover {
  z-index: 10 !important;
}

///////////////////////////////////
// Tomselect improvements /////////
///////////////////////////////////

.ts-wrapper {
  .ts-dropdown {
    color: $body-color-dark;
    border-radius: 0;
    background-color: $body-secondary-bg-dark;
    border-color: $secondary;

    .ts-dropdown-content {
      padding: 0;
      max-height: 400px;
    }

    .option {
      padding: 0.4rem;

      .highlight {
        background-color: $primary-bg-subtle-dark;
      }
    }

    .create,
    .no-more-results {
      padding: 0;
    }
  }

  .ts-control {
    cursor: text !important;
    color: $body-color-dark;
    box-shadow: none !important;

    &:not(.rtl) {
      padding-right: 0.75rem !important;
    }

    input {
      color: $body-color-dark;
      cursor: text !important;
    }

    .item {
      display: inline !important;
    }
  }

  &.focus {
    box-shadow: $focus-ring-box-shadow !important;
    border-color: $input-focus-border-color !important;
  }
}

///////////////////////////////////
// App-specific classes ///////////
///////////////////////////////////

// Avatars ////////////////////////
@mixin app-avatar($size) {
  object-fit: cover;
  object-position: center;
  height: $size * $font-size-base;
  width: $size * $font-size-base;
  border-radius: 50% !important;
  background-color: rgba($secondary, 0.5);
}

.app-avatar-sm {
  @include app-avatar(1.5);

  box-shadow: $box-shadow-sm !important;
}

.app-avatar-md {
  @include app-avatar(4);

  box-shadow: $box-shadow !important;
}

// Users //////////////////////////

.app-user-cell {
  color: $light;
  line-height: 1rem;

  &:hover,
  &:active {
    background-color: tint-color($secondary-bg-subtle-dark, 5%);
    cursor: pointer;

    span {
      color: shadow-color($light, 15%);
      text-decoration: underline;
    }

    img {
      box-shadow: $box-shadow !important;
    }
  }
}

// Dropdown ///////////////////////

.app-dropdown-left {
  &::after {
    display: none;
    transform: rotate(90deg);
  }

  &::before {
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: $caret-spacing;
    vertical-align: $caret-vertical-align;
    content: '';
    @include caret-down;
  }

  &[aria-expanded='true']::before,
  .link-primary:hover &[aria-expanded='true']::after {
    transform: rotate(0deg);
  }
}

.app-filters .dropdown-menu .dropdown-item {
  &,
  & label,
  & input {
    cursor: pointer !important;
  }
}

// Cover image ///////////////////////////

@mixin app-card-img-missing($size) {
  font-size: $size;
  opacity: 0.25;
  align-content: center;
}

.app-card-img-missing-index {
  @include app-card-img-missing(4rem);
}

.app-card-img-missing-search {
  @include app-card-img-missing(2rem);

  border: solid 1px $border-color;
}

.app-card-img-fit {
  width: 100%;
  aspect-ratio: 460 / 215;
}

// Form ///////////////////////////

.app-form-row {
  margin-bottom: ($spacer * 1) !important;
}

.app-btn-max-height {
  height: calc(2.5rem - calc($border-width * 2));
}

.app-btn-input-border {
  --bs-btn-border-color: #{$input-border-color};
  --bs-btn-hover-border-color: #{$input-border-color};
  --bs-btn-active-border-color: #{$input-border-color};
}

.app-no-border-bottom {
  transition: border-radius 0.3s ease-in-out;

  &[aria-expanded='false'] {
    border-bottom: none !important;
  }
}

.app-form-steam {
  .ts-wrapper.focus {
    box-shadow: 0 0 $focus-ring-blur $focus-ring-width $steam !important;
    border-color: tint-color($steam, 25%) !important;
  }

  .btn {
    --bs-btn-bg: #{$steam};
    --bs-btn-border-color: #{$input-border-color};
    --bs-btn-hover-bg: #{shade-color($steam, $btn-hover-bg-shade-amount)};
    --bs-btn-hover-border-color: #{$input-border-color};
    --bs-btn-active-bg: #{shade-color($steam, $btn-active-bg-shade-amount)};
    --bs-btn-active-border-color: #{$input-border-color};
    --bs-focus-ring-color: #{$steam};
  }
}

// Slider ////////////////////////

.app-rating {
  &:focus-within {
    box-shadow: $focus-ring-box-shadow;
    border-color: $input-focus-border-color;
  }

  .active-last {
    outline: 2px solid $gray-100;
  }
}

.app-rating-container {
  cursor: pointer;
  user-select: none;
  touch-action: none;
  filter: brightness(0.9);

  &:hover,
  &.dragged {
    filter: brightness(1.2);
  }
}

.app-rating-bar {
  flex: 1;
  min-width: 0;
  background-color: rgba($border-color, 0.5);
  height: calc(4px + (var(--bar-index) * 1px));

  &.active {
    background: linear-gradient(
      to bottom,
      hsl(calc(120 - var(--bar-index) * 2) 70% 50%),
      hsl(calc(120 - var(--bar-index) * 2) 70% 45%)
    );
  }
}

.app-rating-label {
  width: 4rem !important;
  line-height: 1.5rem;
}

// Spinner ////////////////////////

.app-spinner {
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Others /////////////////////////

.app-skip-link {
  z-index: 900;
}

.app-env-dev {
  z-index: 1000;
  color: #4d2e00;
  background: repeating-linear-gradient(45deg, #e7b871, #e7b871 10px, #ce994b 10px, #ce994b 20px);
}
