// Variables SCSS

@use 'sass:color';

$border-color: $gray-500;
$form-range-track-bg: $border-color;
$form-range-track-height: 0.15rem;
$form-range-thumb-width: 1.25rem;
$form-range-thumb-height: 0.9rem;
$dropdown-link-active-color: var(--#{$prefix}body-color);
$dropdown-link-active-bg: var(--#{$prefix}tertiary-bg);
