@use 'sass:color';

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

// Custom classes

.take-space::before {
  content: '.';
  visibility: hidden;
}

.app-form-row {
  margin-bottom: ($spacer * 1) !important;
}

.app-profile-pic {
  object-fit: cover;
  object-position: center;
  height: 1.5 * $font-size-base;
  width: 1.5 * $font-size-base;
}

.app-dropdow-left {
  &::after {
    display: none;
  }

  &::before {
    display: inline-block;
    margin-right: $caret-spacing;
    vertical-align: $caret-vertical-align;
    content: '';
    @include caret-down;
  }
}

// Change bootstrap classes

.input-group-text {
  margin-top: ($spacer * 0.25) !important;
}

.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.form-control {
  margin-top: ($spacer * 0.25) !important;
}

label.form-label.required::after,
legend.col-form-label.required::after {
  content: ' *';
  color: $primary !important;
}
