@use 'sass:color';

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.take-space::before {
  content: '.';
  visibility: hidden;
}

.input-group-text {
  margin-top: ($spacer * 0.25) !important;
}

.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.form-control {
  margin-top: ($spacer * 0.25) !important;
}
