@use 'sass:map';

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

$utilities: map.merge(
  $utilities,
  (
    'border': map.merge(
        map.get($utilities, 'border'),
        (
          responsive: true,
        )
      ),
    'border-top': map.merge(
        map.get($utilities, 'border-top'),
        (
          responsive: true,
        )
      ),
    'border-end': map.merge(
        map.get($utilities, 'border-end'),
        (
          responsive: true,
        )
      ),
    'border-bottom': map.merge(
        map.get($utilities, 'border-bottom'),
        (
          responsive: true,
        )
      ),
    'border-start': map.merge(
        map.get($utilities, 'border-start'),
        (
          responsive: true,
        )
      ),
    'flex-even': (
      responsive: true,
      class: 'flex-even',
      property: flex,
      values: (
        1: 1 1 0,
        0: 0 1 auto,
      ),
    ),

    'card-max': (
      responsive: true,
      class: 'card-max',
      property: max-width,
      values: (
        auto: 460px,
        none: inherit,
      ),
    ),
  )
);

@import '~bootstrap/scss/utilities/api';
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

// Custom classes

@mixin app-avatar($size) {
  object-fit: cover;
  object-position: center;
  height: $size * $font-size-base;
  width: $size * $font-size-base;
}

.app-img-fit img {
  width: 100%;
}

.app-take-space::before {
  content: '.';
  visibility: hidden;
}

.app-form-row {
  margin-bottom: ($spacer * 1) !important;
}

.app-avatar-navbar {
  @include app-avatar(1.5);
}

.app-avatar-card {
  @include app-avatar(1.4);
}

.app-dropdow-left {
  &::after {
    display: none;
  }

  &::before {
    display: inline-block;
    margin-right: $caret-spacing;
    vertical-align: $caret-vertical-align;
    content: '';
    @include caret-down;
  }
}

// Change bootstrap classes

.input-group-text {
  margin-top: ($spacer * 0.25) !important;
}

.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.form-control {
  margin-top: ($spacer * 0.25) !important;
}

label.form-label.required::after,
legend.col-form-label.required::after {
  content: ' *';
  color: $primary !important;
}
