@use 'sass:map';

// Import Bootstrap core functions
@import '~bootstrap/scss/functions';

// Import Bootstrap variables
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';

// Import custom variables
@import 'variables';

// Import custom API
@import 'api';

// Import Bootstrap (finalizes everything)
@import '~bootstrap/scss/bootstrap';

// Import icons packages
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

// Import custom css
@import 'custom';
