@use 'sass:color';

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
